h1{color: rgb(94, 119, 55);}
h2{color: blueviolet;}
h3{color: brown;}

.jumbotron{background-color: burlywood;
padding-top: 2rem;}

#about{background-color: pink;}

#gallery{background-color: burlywood;}